:root {
  --badge-bg: rgba(76, 175, 80, 0.2);
  --badge-text: #004d40;
}

[data-theme='dark'] {
  --badge-bg: rgba(76, 175, 80, 0.6);
  --badge-text: #fff;
}


.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: var(--badge-bg);
  color: var(--badge-text);
}

.icon {
  margin-right: 0.25rem;
}
