/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #2f7eff;
  --ifm-color-primary-dark: #116bff;
  --ifm-color-primary-darker: #0262ff;
  --ifm-color-primary-darkest: #0050d3;
  --ifm-color-primary-light: #4d91ff;
  --ifm-color-primary-lighter: #5c9aff;
  --ifm-color-primary-lightest: #8ab6ff;
  --ifm-color-info-contrast-background: rgba(217, 217, 217, 0.693) !important;
  --ifm-color-info-dark: #9f9f9f;
}

[data-theme='dark'] {
  --ifm-color-primary: #5d99fa;
  --ifm-color-primary-dark: #116bff;
  --ifm-color-primary-darker: #0262ff;
  --ifm-color-primary-darkest: #0050d3;
  --ifm-color-primary-light: #4d91ff;
  --ifm-color-primary-lighter: #5c9aff;
  --ifm-color-primary-lightest: #8ab6ff;
  --ifm-color-info-contrast-background: #28282b !important;
  --ifm-color-info-dark: #1e1e20;
}

@import './sidebar.css'